.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContainer > .loginBox {
  display: flex;
  position: relative;
  width: 700px;
  height: 400px;
  background-color: white;
}

.modalContainer > .loginBox > .imgContainer {
  margin-left: 50px;
  width: 40%;
}

.modalContainer > .loginBox > .imgContainer > img {
  width: 100%;
  height: 100%;
}

.modalContainer > .loginBox > .inputContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.modalContainer > .loginBox > .inputContainer .icons {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #b1b1b1;
  cursor: pointer;
}

.modalContainer > .loginBox > .inputContainer > span {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}

.modalContainer > .loginBox > .inputContainer > .infoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 50px;
  padding: 0 110px;
}

.modalContainer > .loginBox > .inputContainer > .infoContainer > input {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
  height: 22px;
}

.modalContainer > .loginBox > .inputContainer > .infoContainer > * {
  margin-top: 5px;
}

.modalContainer > .loginBox > .inputContainer > .infoContainer > :last-child {
  margin-top: 35px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
  background-color: #6c63ff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalContainer > .loginBox > .inputContainer > .moveSignupContainer {
  text-align: center;
  margin-bottom: 10px;
}

.modalContainer
  > .loginBox
  > .inputcontainer
  > .moveSignupContainer
  > .moveSignupPage {
  border: none;
  background: none;
  color: #6c63ff;
  font-size: 16px;
  cursor: pointer;
}

.modalContainer > .loginBox > .inputContainer > .moveSignupContainer > button {
  border: none;
  background: none;
  color: #6c63ff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
