.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logoContainer {
  width: 220px;
  height: 100%;
  cursor: pointer;
}

.logoContainer img {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

.menuContainer {
  position: absolute;
  top: 32%;
  left: 47%;
}

.projectLink {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #6760e4;
  cursor: pointer;
}

.signOutBtn,
.loginBtn {
  padding: 8px 10px;
  background: none;
  color: #6c63ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.signUpBtn {
  padding: 8px 10px;
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
}
