.toastContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 200px;
  padding: 12px;
  transform: translate(20%, -280%);
  z-index: 100;
  background: #ff6b6b;
  color: rgb(255, 255, 255);
  border-radius: 4px;
}
